<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client_Reset.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client_Reset.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Client_Reset.Properties.Settings>
            <setting name="enableResetAll" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="themeMode" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="themeColor" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="acceptedLicnese" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="acceptedEULA" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="acceptedMIT" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="acceptedDisclaimer" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="fullClean" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="firstTimeRunning" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startingTab" serializeAs="String">
                <value>Battle.net</value>
            </setting>
            <setting name="settingsmUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="upgrade" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="x" serializeAs="String">
                <value />
            </setting>
            <setting name="v" serializeAs="String">
                <value />
            </setting>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="survey" serializeAs="String">
                <value />
            </setting>
            <setting name="fix" serializeAs="String">
                <value />
            </setting>
            <setting name="type" serializeAs="String">
                <value />
            </setting>
            <setting name="download" serializeAs="String">
                <value />
            </setting>
            <setting name="client" serializeAs="String">
                <value />
            </setting>
            <setting name="move" serializeAs="String">
                <value />
            </setting>
            <setting name="worker" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="extra" serializeAs="String">
                <value />
            </setting>
            <setting name="net" serializeAs="String">
                <value />
            </setting>
            <setting name="bin" serializeAs="String">
                <value />
            </setting>
            <setting name="resource" serializeAs="String">
                <value />
            </setting>
            <setting name="final" serializeAs="String">
                <value />
            </setting>
        </Client_Reset.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Client_Reset.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </Client_Reset.Properties.Settings>
    </applicationSettings>
</configuration>