<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client_Reset.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Client_Reset.Properties.Settings>
            <setting name="enableResetAll" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="themeMode" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="themeColor" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="acceptedLicnese" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="acceptedEULA" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="acceptedMIT" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="acceptedDisclaimer" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="fullClean" serializeAs="String">
                <value>Yes</value>
            </setting>
            <setting name="firstTimeRunning" serializeAs="String">
                <value>1</value>
            </setting>
        </Client_Reset.Properties.Settings>
    </userSettings>
</configuration>